<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Keyword connections - Informatics Explorer</title>
  <style type="text/css">
    body {
      color: #444;
      font: 12pt "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 2em;
    }

    h1, p {
      margin: 0;
    }
  </style>
</head>
<body>

<h1>Graph of connections based on shared keywords in published papers</h1>
<p>
  This is a high-resolution image, scroll down to see more.<br />
  <span style="font-size: 0.8em">&larr; <a href="/">back to Informatics Explorer</a></span>
</p>

<img src="/static/graph.png" alt="" title="" style="margin-top: 40px;" />

<p><span style="font-size: 0.8em">&larr; <a href="/">back to Informatics Explorer</a></span></p>

</body>
</html>
